#root-data{color: blue}

.tipo_36{font-size: 36px;}
.tipo_32{font-size: 32px;}
.tipo_24{font-size: 24px;}
.tipo_18{font-size: 18px;}
.tipo_16{font-size: 16px;color:blue;}
.tipo_14{font-size: 14px;}
.tipo_12{font-size: 12px;}
.tipo_10{font-size: 10px;}
.tipo_08{font-size: 8px;}


.tipo_2_2_rem{font-size: 2.2rem;}
.tipo_2_0_rem{font-size: 2rem;}
.tipo_1_5_rem{font-size: 1.5rem;}
.tipo_1_2_rem{font-size: 1.2rem;}
.tipo_1_0_rem{font-size: 1rem;color:blue;}
.tipo_0_8_rem{font-size: 0.8rem;}
.tipo_0_6_rem{font-size: 0.6rem;}
.tipo_0_4_rem{font-size: 0.4rem;}
.tipo_0_2_rem{font-size: 0.2rem;}